{% extends 'base.html' %}

{% block title %} HomeOne - Admin LogIn {% endblock %}
    
{% block extra_css %}
<link rel="stylesheet" href="/static/user_sign.css">
{% endblock %}

{% block content %}
<div class="container">
    <form method="POST">
        <div class="signup">
            <h3 class="title">Admin Login</h3>
            <div class="text-input">
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="text-input">
                <input type="password" name="pwd" placeholder="Password">
            </div>
            <button type="submit" class="signin-btn">Login</button>
            <div class="create">
                <a href="signup">Create Your Account</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}